 
.header {
    text-align: center;
    background-color: rgb(255, 149, 0);
    padding: 0.5rem; /* Reducido el padding del header */
    color: rgb(0, 0, 0);
    font-size: 1.5rem; /* Font size más pequeño */
  }
  
  .pokemon-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .pokemon-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  
  .card {
    position: relative;
    width: 300px; /* Tamaño aumentado de la tarjeta */
    height: 400px; /* Tamaño aumentado de la tarjeta */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease; /* Añadido para animación de zoom */
  }
  
  .card:hover {
    transform: scale(1.1); /* Agregado zoom en la tarjeta al pasar el mouse */
  }
  
  .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #f48803, #ff0000);
  }
  
  .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #f4e403, #ff00aa);
    filter: blur(30px);
  }
  
  .card b {
    position: absolute;
    inset: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  
  .card img {
    position: absolute;
    z-index: 3;
    scale: 2; /* Imagen más grande */
    opacity: 0.8; /* Hacer las imágenes más claras */
    transition: 0.5s;
    object-fit: cover; /* Para que la imagen ocupe toda la tarjeta */
  }
  
  .card:hover img {
    scale: 1.5;
    opacity: 1; /* Mayor claridad al hacer hover */
    transform: translateY(-70px);
  }
  
  .card .content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    transition: 0.5s;
  }
  
  .card:hover .content {
    transform: scale(1);
    bottom: 25px;
  }
  
  .content .title {
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1em;
    font-size: 1.2em; /* Título más grande */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }
  
  .content .title span {
    font-weight: 300;
    font-size: 0.9em;
  }
  
  .loading {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
  }